<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Achieve</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
  <section class="main-header">
    <img src="top.png">
  </section>
  <section class="about">
    <h1>About Blogapp</h1>
    <p>
      Blogappは、ブログ制作のためのアプリです。<br>
      Blogappを使うことで、簡単にブログを作ることができます。
    </p>
  </section>

</body>
</html>
